---
import P5React from "../components/P5";
import P5Sketch from "../components/P5Sketch.astro";
import Layout from "../layouts/Layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1>Randomness</h1>

  <P5Sketch width={800} height={800} />
</Layout>
